@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css?family=B612|Roboto&display=swap");

.back {
  z-index: -1;
  width: 1855px;
  height: 950px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("https://images.unsplash.com/photo-1484755560615-a4c64e778a6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1280&q=80");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.intro {
  float: right;
  margin-right: 200px;
  margin-top: 100px;
  padding-top: 40px;
  /* margin-right: 100px; */
  height: 500px;
  width: 850px;
  /* background-color: rgba(98, 15, 194, 0.3); */

  color: rgb(0, 0, 0);
}

#line1 {
  margin: 10px 0 10px 0;
  text-align: right;
  font-family: "B612", sans-serif;
  font-size: 80px;
  font-weight: 700;
}

#line2 {
  text-align: right;
  font-weight: 70;
  font-family: "Pacifico", sans-serif;
  font-size: 90px;
  margin: -30px 0;
  color: white;
}

.para {
  font-size: 25px;
  font-family: B612;
  font-weight: ;
  text-align: right;
  margin: 30px auto;
}

.par {
  margin: 10px auto;
}

.login-btn {
  text-decoration: none;
  float: right;
  margin-right: 200px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: 5px solid white;
  border-radius: 3px;
  font-size: 40px;
  padding: 14px 40px;
  transform: translateX(200px);
  font-family: LilitaOne;
  transition: all ease-in-out 600ms;
}

.login-btn:hover {
  color: white;
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 50%;
}

button:focus {
  cursor: pointer;
  outline: none;
}

.spotify-ic {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 2px solid white;
  transition: all ease-in-out 300ms;
}

.login-btn:hover .spotify-ic {
  color: #1db954;
  display: inline;
}
