@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Rubik&display=swap");

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  80% {
    transform: scale(1, 1.1);
  }
  100% {
    transform: scale(1, 1);
    z-index: -1;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

.bodyProfile {
  height: 900px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.backs {
  z-index: -2;
  background-image: url("https://images.unsplash.com/photo-1511379938547-c1f69419868d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
.profiler {
  width: 1855px;
  height: 700px;
  position: absolute;
  left: 0;
  top: 0;
}

.fronts {
  background-color: #1db95480;
  z-index: -1;
  overflow: hidden;
}

.foot {
  position: relative;
  z-index: -2;
  background-color: #000000;
  height: 250px;
  width: 100%;
  display: block;
  margin-top: 700px;
  box-shadow: 0 -2px #ffffff30;
}

.cover {
  width: 100%;
  position: absolute;
  top: 43.5%;
  z-index: 1;
}

#pattern {
  margin-bottom: 0;
  margin-top: -0.8%;
  animation: animateWave 1s ease-in-out;
  transform-origin: bottom;
  z-index: -1;
}

@keyframes userRush {
  0% {
    opacity: 0;
    transform: translate(-30px, 0);
  }
  80% {
    opacity: 0.8;
    transform: translate(10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.pro_pic {
  height: 150px;
  width: 100%;
  display: block;
  margin: -75px auto;
}

#pro_pic {
  display: block;
  margin: auto auto;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px #ffffffa0 solid;
}

.userInfo {
  position: absolute;
  background-color: #ffffffa0;
  z-index: 2;
  height: 500px;
  width: 500px;
  top: 25%;
  left: 10%;
  opacity: 0;
  border-radius: 30% 10%;
  box-shadow: 10px 10px #00000014;
  animation: userRush 1s ease 1s forwards;
  font-family: "Nanum Gothic", sans-serif;
}

#uName {
  display: block;
  text-align: center;
  margin-top: 80px;
  font-weight: inherit;
  color: darkslategrey;
}

.uData h1 {
  display: block;
  font-weight: 1000;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

@keyframes textAnimate {
  0% {
    opacity: 0;
    transform: translate(20px, 0);
  }
  70% {
    opacity: 0.7;
    transform: translate(-4px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#uData {
  margin: 30px 50px;
  opacity: 0;
  animation: textAnimate 1s ease-in-out 2s forwards;
}

.th {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  color: #5f5e5e;
  padding-bottom: 9px;
  border-bottom: solid 1px rgb(59, 58, 58);
}

.td {
  font-size: 1.2rem;
  float: right;
  color: black;
}

.pro_link {
  text-decoration: none;
}

.pro_link:visited {
  text-decoration: none;
}

.pro_link:hover {
  text-decoration: underline;
  color: black;
}

#blob1 {
  display: block;
  margin-top: -300px;
  margin-left: 1500px;
}

.topData {
  position: absolute;
  height: 1000px;
  width: 1200px;
  top: 20px;
  left: 638px;
  z-index: 6;
  /* background: yellow; */
}

.topTrack {
  /* background: yellow; */
  display: inline-block;
  position: absolute;
  width: 400px;
  height: 500px;
  overflow: hidden;
  top: 150px;
  left: 470px;
  opacity: 0;
  animation: userRush 1s ease-in-out 1s forwards;
}

#topTrackImg {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 350px;
  border-radius: 20%;
}

.topArtist {
  /* background: red; */
  position: absolute;
  display: inline-block;
  width: 400px;
  height: 500px;
  top: 120px;
  left: 100px;
  overflow: hidden;
  opacity: 0;
  animation: textAnimate 1s ease-in-out 1s forwards;
}

#topArtistImg {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 350px;
  border-radius: 20%;
}

#paraArtist,
#paraTrack,
.headArtist,
.headTrack {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: white;
}

@keyframes blobber {
  0% {
    transform: scale(0.3, 0.3);
    opacity: 1;
    transform: translate(0, 1000px);
  }
  50% {
    transform: scale(0.5, 0.5);
    transform: translate(0, 0);
    opacity: 0.7;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

#blob2 {
  opacity: 0;
  width: 1200px;
  z-index: 20;
  animation: blobber 2s ease-in-out forwards;
}

.headTrack {
  text-align: left;
}

.paraTrack:visited,
.paraArtist:visited {
  text-decoration: none;
  color: white;
}

.paraTrack:hover,
.paraArtist:hover {
  text-decoration: underline;
  color: white;
}
