.searchComponent {
  background: #b7be4990;
  z-index: -1;
  min-width: 1855px;
  min-height: 950px;
  max-height: 2000px;
  position: absolute;
  overflow: auto;
  left: 0;
  top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .backCover {
  z-index: 0;
  background: #00000080;
  width: 1855px;
  height: 950px;
  position: absolute;
  left: 0;
  top: 0;
} */

.searchContainer {
  /* display: block; */
  position: absolute;
  margin: 100px 500px;
  /* background: red; */
}

.search-icon {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 30px;
  left: -50px;
  font-size: 40px;
  color: grey;
}

.searchBox {
  font-size: 55px;
  font-family: "Rubik", sans-serif;
  color: white;
  border: none;
  background-color: #00000000;
  outline: none;
  height: 100px;
  width: 1000px;
  position: relative;
}

.searchBox::placeholder {
  color: #00000080;
}

.topResultHeader {
  color: white;
  position: absolute;
  top: 180px;
  left: 160px;
  font-size: 60px;
  font-family: "Rubik", sans-serif;
}

.result {
  position: absolute;
  left: 140px;
  top: 320px;
}

.searchComp {
  width: 360px;
  height: 300px;
  position: absolute;
  margin-left: 20px;
  border-radius: 10px;
}

.searchComp:nth-child(1) {
  background: blue;
}

.searchComp:nth-child(2) {
  background: green;
  left: 380px;
}

.searchComp:nth-child(3) {
  background: #af0000;
  top: 320px;
}

.searchComp:nth-child(4) {
  background: orange;
  left: 380px;
  top: 320px;
}

.topSearch {
  background: #ffffff20;
  position: relative;
  top: 30px;
  left: 30px;
  height: 80%;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

#topSearchImg {
  position: relative;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
}

.topSearchName {
  font-family: "Rubik", sans-serif;
  color: white;
  /* background: black; */
  margin: 30px 20px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  max-height: 48px;
  overflow: hidden;
}

.topSearchName:hover {
  text-decoration: underline;
}

.topLabel {
  background: #000000c0;
  color: white;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  position: absolute;
  left: 150px;
  top: 20px;
  padding: 5px 10px;
  border-radius: 30px;
  text-transform: uppercase;
}

.topSearchAuthor {
  color: #000000;
  font-weight: bolder;
  position: relative;
  top: -20px;
  left: 20px;
  margin-right: 10px;
  font-size: smaller;
}

.topSearchAuthor:hover {
  text-decoration: underline;
}

.searchresult {
  height: 300px;
  width: 900px;
  /* overflow: hidden; */
  z-index: 9;
  position: relative;
  left: 950px;
  top: 300px;
  /* background: cornflowerblue; */
  /* border: 1px black solid; */
}

.searchresult:nth-of-type(3),
.searchresult:nth-of-type(4) {
  left: 150px;
  top: 300px;
}

.resultLabel {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  color: white;
  text-transform: capitalize;
}

.singleResult {
  height: 150px;
  width: 130px;
  border-radius: 5px;
  display: inline-block;
  margin: 25px 25px 25px 10px;
  background: #11777780;
  overflow: hidden;
  transition: all ease-in-out 250ms;
}

.singleResult:hover {
  background: #00000070;
  transform: translate(2px, -2px);
  box-shadow: 10px -10px 20px #ffffff80;
}
.resultImage {
  height: 80px;
  position: relative;
  top: 10px;
  left: 25px;
}

.searchName {
  font-family: "Rubik", sans-serif;
  color: white;
  /* background: black; */
  margin: 10px 20px;
  font-weight: bold;
  display: block;
  max-height: 48px;
  overflow: hidden;
  font-size: 10px;
  text-align: center;
}

.searchName:hover {
  text-decoration: underline;
}
